body {
  font-family: Arial;
  background: #f0f0f0;
}

.container {
  width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 40px;
  border-radius: 8px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: green;
  color: white;
  border: none;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ccc;
  padding: 5px;
}
